@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

body {
  margin: 0;
  padding: 0;
  color: #04BF9D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}
div{
  margin-bottom: .2em;
}

#container {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.titlebar {
  width: 100%;
  height: 4em;
  background-color: #404040;
}

.titlebar h1 {
  font-size: 28px;
  color: #F53D54;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Open Sans', sans-serif;
}

textarea{
  display: block;
  width: 99%;
  border: 1px #D8D8D8 solid;
  box-shadow: 0px 1px 0px 0.7px rgba(137, 137, 137, 0.53) inset;
  resize: none;
  margin-bottom: 0.3em;
  height: 4em;
}

input {
  padding: 1em;
  width: 25%;
}

#createMessage input[type="number"]{
  width: 3em;
}

button {
  background-color: #404040;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #F53D54;
  border: none;
  padding: 1em;
  border-radius: 2em 0em 0em 2em;
}

canvas{
  border: thin dotted orange;
}

img{
  border: thin dotted blue;
}

p{
  color: black;
}

::-webkit-input-placeholder {
  color: #04BF9D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
:-moz-placeholder { /* Firefox 18- */
  color: #04BF9D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #04BF9D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
:-ms-input-placeholder {  
  color: #04BF9D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
