#container {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: orange;
}
textarea{
  display: block;
  width: 100%
}
canvas{
  border: thin dotted orange;
}
img{
  border: thin dotted blue;
}
