<!DOCTYPE html>
<html ng-app="dynamicEmail">
  <head>
    <title>Full email control</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <div ng-view id="container" ng-controller="composeEmail">
      <div class="titlebar">
        <h1>Generate dynamic email:</h1>
      </div>
      <div id="composeMessage">
        <textarea ng-model="body" placeholder="Type your message here" id="text"></textarea>
        <input ng-model="fontPx" placeholder="font size (px)">
        <button id="get" ng-click="submitEmail(body, fontPx || 12)">create image</button>
      </div>
      <div id="viewMessage" ng-show="imageID">
        <div>Generated Canvas:
          <canvas id='textCanvas' height="20"></canvas> 
        </div>
        <div>Image from API:
          <img src="https://dynamicemail.herokuapp.com/api/{{imageID}}/message.png"> 
        </div>
        <div>Image URL: 
          <!--<button>Copy link</button>-->
          <a href="https://dynamicemail.herokuapp.com/api/{{imageID}}/message.png">https://dynamicemail.herokuapp.com/api/{{imageID}}/message.png</a>
        </div>
      </div>        
    </div>
  </body>
</html>