<!DOCTYPE html>
<html ng-app="dynamicEmail">
  <head>
    <title>Full email control</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <div class="titlebar">
      <h1>Generate dynamic email:</h1>
    </div>
    <div ng-view id="container" ng-controller="composeEmail">
      <div id="createMessage">
        <textarea id="text" ng-model="body" placeholder="Type your message here"></textarea>
        <button ng-click="createMessage(body, fontPx || 12)">create message</button>
        <label>Font size:</label>
        <input type="number" ng-model="fontPx" placeholder="12">
      </div>
      <div id="destroyMessage">
        <button ng-click="destroyMessage(messageID)">destroy message</button>
        <input ng-model="messageID" placeholder="message id">
        <label>{{destroyMessageStatus}}</label>
      </div>
      <div id="viewMessage" ng-show="messageID">
        <div>Message:
          <p>{{body}}</p> 
        </div>
        <div>Generated Canvas:
          <canvas id='textCanvas' height="20"></canvas> 
        </div>
        <div>Image from API:
          <img src="https://dynamicemail.herokuapp.com/api/{{messageID}}/message.png"> 
        </div>
        <div>Image URL: 
          <!--<button>Copy link</button>-->
          <a href="https://dynamicemail.herokuapp.com/api/{{messageID}}/message.png">https://dynamicemail.herokuapp.com/api/{{messageID}}/message.png</a>
        </div>
        <div>HTML to copy:
          <p>&lt;img url="https://dynamicemail.herokuapp.com/api/{{messageID}}/message.png"&gt;</p>
        </div>
      </div>        
    </div>
  </body>
</html>